helloworld/helloworld
slist/slist
*.o
*.core
lexyacc/verbs/verbs
lexyacc/verbs/verbs.c
lexyacc/word-recognizer/wordrecog
lexyacc/word-recognizer/word-recognizer.c
lexyacc/speach/parse.c
lexyacc/speach/speach
lexyacc/speach/speach.c
lexyacc/speach/y.tab.h
net/showip/showip
net/hwd/hwd
*tags
